<!--Templates For modal box-->
<style type="text/css">
. {
    padding: 10px;
}
</style>
<div class="container-fluid" ng-controller="SettingsCtrl as settings" ng-show="true">
    <div class="row ">
        <div class="col-md-12">
            <h4 class="text text-primary">Header & Background Settings</h4>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <h4 > Font-Family:</h4>
        </div>
        <div class="col-md-6">
            <select ng-model="hFont" id="bgselection" ng-change="settings.headerFontTypeChanged(hFont)" ng-options="header for header in settings.typeOfFont"></select>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <h4 > Font-Color:</h4>
        </div>
        <div class="col-md-6">
            <select ng-model="hcolor" ng-change="settings.headerFontColorChanged(hcolor)" ng-options="headercolor for headercolor in settings.colors"></select>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <h4 >Backgrounds:</h4>
        </div>
        <div class="col-md-6">
            <select ng-model="MYBackGround" 
            ng-change="settings.backGroundChanged(MYBackGround)" 
            ng-options="BackGround for BackGround in settings.changeBackground"
            ng-init="MYBackGround = settings.BackGround" >        
            </select>
        </div>
    </div>
    <hr>
    <div class="row gap">
        <div class="col-md-12">
            <h4 class="text text-primary">Test-Name Settings</h4>
        </div>
    </div>
    <div class="row gap">
        <div class="col-md-6">
            <h4 >Font-Family:</h4>
        </div>
        <div class="col-md-6">
            <select ng-model="myFont" id="bgselection" ng-change="settings.testNameFontTypeChanged(myFont)" ng-options="font for font in settings.typeOfFont"></select>
        </div>
    </div>
    <div class="row gap">
        <div class="col-md-6">
            <h4 >Font-Color:</h4>
        </div>
        <div class="col-md-6">
            <select ng-model="tcolor" ng-change="settings.testNameFontColorChanged(tcolor)" ng-options="color for color in settings.colors"></select>
        </div>
    </div>
    <hr>
    <div class="row ">
        <div class="col-md-12">
            <h4 class="text text-primary">Ratinale Settings</h4>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <h4 >Font-Family:</h4>
        </div>
        <div class="col-md-6">
            <select ng-model="rFont" id="bgselection" ng-change="settings.rationaleFontTypeChanged(rFont)" ng-options="rationale for rationale in settings.typeOfFont"></select>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <h4 >Font-Color:</h4>
        </div>
        <div class="col-md-6">
            <select ng-model="rcolor" ng-change="settings.rationaleFontColorChanged(rcolor)" ng-options="color for color in settings.colors"></select>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 ">
            <button class="btn btn-success pull-right" ng-click="$dismiss()">Save</button>
        </div>
    </div>
    <hr>
</div>
