<!--Templates For modal box-->
<style type="text/css">
    .gap{
    padding: 10px;
}
</style><div class="container-fluid" ng-controller="SettingsCtrl as settings"  ng-show="true" >
    <div class="row gap">
        <div class="col-md-3">
              <span class="label label-default">Backgrounds:</span>
        </div>
        <div class="col-md-9">
           <select ng-model="MYBackGround" ng-change="settings.backGroundChanged(MYBackGround)" ng-options="BackGround for BackGround in settings.changeBackground"> </select>       
        </div>
    </div>
    <div class="row gap">
        <div class="col-md-3">
              <span class="label label-default">Test Name Font-Family:</span>
        </div>
        <div class="col-md-9">
          <select ng-model="myFont" id="bgselection" ng-change="settings.testNameFontTypeChanged(myFont)" ng-options="font for font in settings.typeOfFont"></select>
        </div>
    </div>
    <div class="row gap">
        <div class="col-md-3">
          <span class="label label-default">Test Name Font-Color:</span>
        </div>
        <div class="col-md-9">
            <select ng-model="tcolor" ng-change="settings.testNameFontColorChanged(tcolor)" ng-options="color for color in settings.colors"></select>
        </div>
    </div>
    <div class="row gap">
        <div class="col-md-3">
           <span class="label label-default">Rationale Font-Family:</span>
        </div>
        <div class="col-md-9">
              <select ng-model="rFont" id="bgselection" ng-change="settings.rationaleFontTypeChanged(rFont)" ng-options="rationale for rationale in settings.typeOfFont"></select>
        </div>
    </div>
    <div class="row gap">
        <div class="col-md-3">
           <span class="label label-default">Rationale Font-Color:</span>
        </div>
        <div class="col-md-9">
             <select ng-model="rcolor" ng-change="settings.rationaleFontColorChanged(rcolor)" ng-options="color for color in settings.colors"></select>
        </div>
    </div> 
    <div class="row gap">
        <div class="col-md-3">
           <span class="label label-default">Header Font-Family:</span>
        </div>
        <div class="col-md-9">
              <select ng-model="hFont" id="bgselection" ng-change="settings.headerFontTypeChanged(hFont)" ng-options="header for header in settings.typeOfFont"></select>
        </div>
    </div>
    <div class="row gap">
        <div class="col-md-3">
           <span class="label label-default">header Font-Color:</span>
        </div>
        <div class="col-md-9">
             <select ng-model="hcolor" ng-change="settings.headerFontColorChanged(hcolor)" ng-options="headercolor for headercolor in settings.colors"></select>
        </div>
    </div>
    <div class="row gap">
        <div class="col-md-12 ">
           <button class="btn btn-success pull-right" ng-click="$dismiss()" >Save</span>
        </div>
    </div>
</div>


