<style type="text/css">
/*use this to change the height of the page slide*/

.space {
    margin-bottom: 53px;
}

.backgroundStyle {
    border: solid 5px #93A1A1;
    background-color: #E1E1E1;
    background: -webkit-linear-gradient(white, white, #E1E1E1);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, white, #E1E1E1);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, white, #E1E1E1);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, white, #E1E1E1);
    /* Standard syntax (must be last) */
    height: 100%;
}

.headerBackground {
    margin-bottom: 10px;
    margin: 0px;
    background-image: url(images/Slide2.JPG);
    margin-bottom: 14px;
    background-repeat: no-repeat;
    border-bottom: solid 5px #002A8E;
}

.inputBakcgroundimage {
    height: 35px;
    width: 150px;
    border-radius: 5px;
}

label {
    font-size: 22px !important;
    font-weight: 100;
}

.feedBack {
    border: 0px;
    width: 20px;
    height: 1em;
    margin: 10px;
    margin-left: -25px !important;
}

.roundCorners {
    border-radius: 5px;
}

.gap {
    padding-bottom: 10px;
}

.noSelection {
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */
}

.btn-question-style {
    position: fixed;
    top: 35px;
    left: 1075px;
}

.settings {
    float: right;
    top: 12px;
    right: 0px;
    position: fixed;
}
</style>
<!-- Slide Show -->
<div class="row" ng-show="main.isTesNameTime">
    <div class="col-md-12">
        <div class="reveal">
            <div class="slides">
                <section ng-repeat="slide in  main.slides" style="top: -46px !important; display: block;" data-index="{{$index}}">
                    <img ng-src="{{slide.SlideBGFileName}}">
                    <br>
                    <h3 ng-show="main.isOverview" style="color:black" class="text-center">{{slide.SlideDescription +' '}} {{$index}}
                    </h3>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <!-- NW -->
    <div class="backgroundStyle" ng-show="main.isTesNameTime===false">
        <div class="container-fluid" style="background-image: url(images/Backgrounds/{{main.BackGround+ '.jpg'}} ); !important;color:white; background-repeat: no-repeat; background-size: cover;height:800px;">
            <div class="row" style="height: 30px;">
                <div class="col-md-12">
                    <div class="progress" style="height: 5px;" max="max" value="dynamic">
                        <div class="progress-bar progress-bar-primary" role="progressbar" ng-style="{width: main.progressBarValue + '%'}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row" style="height: 175px;">
                        <div class="col-md-2">
                            <div class="radio">
                                <div ng-repeat="buton in main.radioButtons" style="font-family:{{main.headerFontFamily}}; color:{{main.headerFontColor}}">
                                    <label>
                                        <input class="feedBack" type="radio" name="feedback" ng-model="buton.isUserAnswer" ng-change="main.updateControl(buton)" ng-value="true" /> {{buton.text}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 text-Primary text-center" auto-font-size id="category" style="font-family:{{main.headerFontFamily}}; color:{{main.headerFontColor}}">
                            {{main.nameCategory}}
                        </div>
                        <div class="col-md-2" style="font-family:{{main.headerFontFamily}}; color:{{main.headerFontColor}}">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default  glyphicon " ng-click="main.tally()" style="font-family:arial">Tally
                                </button>
                                <button type="button" class="btn btn-default   glyphicon glyphicon-cog" data-toggle="dropdown" ng-click="main.showThemeOptions()"></button>
                            </div>
                            <div class="row  " ng-show="main.displayTally">
                                <div class="col-md-8">
                                    <label style="margin-bottom: 5px; width:100px; cursor:text;float: left; ">Positive
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <span style="font-size:22px;">{{main.positiveScore}}</span>
                                </div>
                            </div>
                            <div class="row  " ng-show="main.displayTally">
                                <div class="col-md-8">
                                    <label style="margin-bottom:5px; width:100px; cursor:text;float: left;">Neutral
                                    </label>
                                </div>
                                <div style="font-size:22px;" class="col-md-4"> <span class="">{{main.neutralScore}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height: 270px;">
                        <div class="col-md-{{main.columnSet}} col-md-offset-{{main.columnOffSet}}">
                            <div class="col-md-1 ">
                            <img ng-show="main.BackGround == 'Billboard' || main.BackGround == 'SubwayStop'" 
                                   width='150' 
                                   style="margin-top: 10px; margin-left: -{{main.marginLeftImage}};" 
                                   ng-src="images/LogIcons/icon-1.png" />
                            </div>
                            <div class="col-md-{{main.columnNameCandSet}} text-{{main.textAttribute}} "
                             style="background-image:{{main.overlayStyle}};
                                  font-family:{{main.testNameFontFamily}}; 
                                  margin-left: {{main.marginLeftTestName}}px;
                                  color:{{main.testNameFontColor}};
                                  border-radius: 5px; width:{{main.testNameWidth}}%;"                                  
                                  id="testName" auto-font-size noSelection>
                                {{main.nameCandidate}}
                            </div>
                        </div>
                    </div>
                    <div class="row bg-primary context-center" style="height:100px; border-radius: 5px; margin:0px;" >
                        <div class="col-md-12 text-default text-center" id="rationale" 
                        style="font-family:{{main.rationaleFontFamily}}; color:{{main.rationaleFontColor}};padding-top: 18px;" auto-font-size noSelection>
                            {{main.Rationale}}                       
                        </div>     
                        <p class="text-center" style="font-size:25px;">{{main.subRationale}}</p>                  
                    </div>
                    <div class="row" style="height: 110px; padding:20px 0 0 0;">
                        <div class="col-md-12">
                            <input type="text" placeholder="New Names" class="roundCorners" ng-model="main.newName" style="font-size: xx-large; text-align: center; width: 100%; height: 49px; border: solid 2px grey; color:black" autofocus/>
                        </div>
                    </div>
                    <div class="row" style="height: 50px;">
                        <div class="col-md-6">
                            <input type="text" class="center-block; roundCorners" ng-model="main.explore" placeholder="EXPLORE" style="font-size: x-large; text-align: center; width: 500px; height: 39px; border: solid 2px green;color:black" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="center-block; roundCorners" ng-model="main.avoid" placeholder="AVOID" style="font-size: x-large; text-align: center; width: 500px; height: 39px;border: solid 2px red;color:black" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="position: relative; bottom: -23px;">
                    <div class="col-md-4">
                        <div class="btn-group text-primary">
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <span aria-hidden="true"></span>Propietary & Confidential</button>
                            <button type="button" class="btn btn-default" aria-label="Center Align" ng-show="main.nameNotation.length > 0">
                                <span aria-hidden="true" ></span>{{main.nameNotation}}</button>
                        </div>
                    </div>
                    <div class="col-md-4 text-center" >
                        <div class="btn-group ">
                            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="main.togglePresentation()" >
                                <span class="glyphicon glyphicon-blackboard" aria-hidden="true">                       
                        </span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Center Align">
                                <span aria-hidden="true"></span>Reset Slide</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="main.goPrevSlide()">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">                        
                    </span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="main.goNextSlide()">
                                <span class="glyphicon glyphicon-chevron-right"  aria-hidden="true">                        
                    </span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <span>{{main.pageNumber}} / {{main.totalOfTestNames}} 
                    </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- Side menu Settings-->
<div class="container-fluid settings slide" ng-show="main.displaySettings">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text text-primary">Header & Background Settings</h4>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <select class="btn btn-primary" ng-model="main.BackGround" ng-change="main.backGroundChanged(main.BackGround)" ng-options="BackGround for BackGround in main.changeBackground" ng-init="main.BackGround">
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <select class="btn btn-primary" ng-model="main.headerFontFamily" id="bgselection" ng-change="main.headerFontTypeChanged(main.headerFontFamily)" ng-options="header for header in main.typeOfFont"></select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <input type="color" class="bg-primary" ng-model="main.headerFontColor" ng-change="main.headerFontColorChanged(main.headerFontColor)" />
        </div>
    </div>
    <hr>
    <div class="row gap">
        <div class="col-md-12">
            <h4 class="text text-primary">Test-Name Settings</h4>
        </div>
    </div>
    <div class="row form-group gap">
        <div class="col-md-6">
            <select class="btn btn-primary" ng-model="main.testNameFontFamily" id="bgselection" ng-change="main.testNameFontTypeChanged(main.testNameFontFamily)" ng-options="font for font in main.typeOfFont"></select>
        </div>
    </div>
    <div class="row form-groupgap">
        <div class="col-md-6">
            <input type="color" class="bg-primary" ng-model="main.testNameFontColor" ng-change="main.testNameFontColorChanged(main.testNameFontColor)" />
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-md-12">
            <h4 class="text text-primary">Rationale Settings</h4>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <select class="btn btn-primary" ng-model="main.rationaleFontFamily" id="bgselection" ng-change="main.rationaleFontTypeChanged(main.rationaleFontFamily)" ng-options="rationale for rationale in main.typeOfFont"></select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <input type="color" class="bg-primary" ng-model="main.rationaleFontColor" ng-change="main.rationaleFontColorChanged(main.rationaleFontColor)">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <p class="text text-primary">
                <input type="checkbox" style="margin-right: 5px;" ng-model="main.isOverlayAvailable" ng-change="main.setOverlay()" value="main.isOverlayAvailable" />Overlay</p>
        </div>
        <div class="col-md-6 ">
            <button class="btn btn-success pull-right " ng-click="main.saveThemeSettings()">Save</button>
        </div>
    </div>
    <hr>
</div>
<!--Templates For help-->
<div class="container-fluid" id="help" style="display:none">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <img alt="" ng-src="images/HelpImages/F.PNG" width="50px" class="img-rounded center-block gap" />
                </div>
                <div class="col-md-9">
                    <h4>
                            Press F key to go Full-Screen and scape key to exit
                     </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" height="60px">
                    <img alt="" ng-src="images/HelpImages/O.PNG" width="50px" class="img-rounded center-block gap" />
                </div>
                <div class="col-md-9">
                    <h4>
                            Press O key to overview the slides
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img alt="" src="images/HelpImages/Space.PNG" width="70px" class="img-rounded center-block gap" />
                </div>
                <div class="col-md-9">
                    <h4>
                               Press Space Bar key to go forward on the slides
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img alt="" src="images/HelpImages/ArrowKeys.PNG" width="100px" class="img-rounded center-block gap" />
                </div>
                <div class="col-md-9">
                    <h4>
                               Press the Arrow Keys  to go forward on the slides
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
