<style type="text/css">
/*use this to change the height of the page slide*/

.space {
    margin-bottom: 53px;
}

.backgroundStyle {
    border: solid 5px #93A1A1;
    background-color: #E1E1E1;
    background: -webkit-linear-gradient(white, white, #E1E1E1);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, white, #E1E1E1);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, white, #E1E1E1);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, white, #E1E1E1);
    /* Standard syntax (must be last) */
    height: 100%;
}

.headerBackground {
    margin-bottom: 10px;
    margin: 0px;
    background-image: url(images/Slide2.JPG);
    margin-bottom: 14px;
    background-repeat: no-repeat;
    border-bottom: solid 5px #002A8E;
}

.inputBakcgroundimage {
    height: 35px;
    width: 150px;
    border-radius: 5px;
}

label {
    font-size: 22px !important;
    font-weight: 100;
}

.feedBack {
    border: 0px;
    width: 20px;
    height: 1em;
    margin: 10px;
    margin-left: -25px !important;
}

.roundCorners {
    border-radius: 5px;
}

.gap{

    padding-bottom: 10px;

}
.noSelection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.btn-question-style{
  position: fixed;
  top: 35px;
  left: 1075px;
}

</style>
</body>
<div class="row" ng-show="main.isTesNameTime">
    <div class="col-md-12">
        <div class="reveal">
            <div class="slides">
                <section ng-repeat="slide in  main.slides" style="top: -46px; display: block;" data-index="{{$index}}">
                    <button type="button" class="btn btn-primary glyphicon glyphicon-question-sign pull-right btn-question-style" ng-click="main.help()"></button>
                    <img ng-src="{{slide}}">
                    <aside class="notes">Overview Title : {{$index}}
                    </aside>
                </section>

            </div>
        </div>
    </div>
</div>

<!-- Slide Show -->
<div class="container-fluid">
    <!-- NW -->
    <div class="backgroundStyle" ng-show="main.isTesNameTime===false">
        <div class="container-fluid" style="background-image: url(images/Backgrounds/{{main.BackGround}}.jpg); !important;color:white; background-repeat: no-repeat; background-size: cover;height:800px;">
            <div class="row" style="height: 30px;">
                <div class="col-md-12">
                    <div class="progress" style="height: 5px;" max="max" value="dynamic">
                        <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{width: (main.progressBarValue) + '%'}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row" style="height: 175px;">
                        <div class="col-md-2">
                            <div class="radio">
                                <div ng-repeat="buton in main.radioButtons" style="font-family:{{main.headerFontFamily}}; color:{{main.headerFontColor}}">
                                    <label>
                                        <input class="feedBack" type="radio" name="feedback" ng-model="buton.isUserAnswer"
                                   ng-change="main.updateControl(buton)" ng-value="true" /> {{buton.text}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 text-Primary text-center" auto-font-size id="category"  style="font-family:{{main.headerFontFamily}}; color:{{main.headerFontColor}}">
                            {{main.title}}
                        </div>
                        <div class="col-md-2" style="font-family:{{main.headerFontFamily}}; color:{{main.headerFontColor}}">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary  glyphicon " ng-click="main.tally()"
                                style="color:white; font-family:arial">Tally
                                </button>
                                <button type="button" class="btn btn-primary   glyphicon glyphicon-cog" data-toggle="dropdown" ng-click="main.legendAboutOption()"></button>

                            </div>
                            <div class="row  " ng-show="main.displayTally">
                                <div class="col-md-8">
                                    <label style="margin-bottom: 5px; width:100px; cursor:text;float: left; " >Positive
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <span style="font-size:22px;">{{main.positiveScore}}</span>
                                </div>
                            </div>
                            <div class="row  " ng-show="main.displayTally">
                                <div class="col-md-8">
                                    <label style="margin-bottom: 5px; width:100px; cursor:text;float: left;">Neutral
                                    </label>
                                </div>
                                <div style="font-size:22px;" class="col-md-4"> <span class="">{{main.neutralScore}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="row" style="height: 300px;">
                                <div class="col-md-12 text-default text-center "
                                 style="max-height: 300px; background-color:rgba(255,255,128,0,5); padding-bottom:35px;
                                  font-family:{{main.testNameFontFamily}}; color:{{main.testNameFontColor}}" id="testName" auto-font-size noSelection>
                                    {{main.nameCandidate}}
                                </div>
                            </div>
                            <div class="row" style="height: 120px;">
                                <div class="btn col-md-12 text-default text-center"
                                style="font-size: xx-large; cursor: default; text-align: center; width: 98%; margin-left: 10px; padding:20px; background-color:rgba(0,0,128,0.9);
                                 font-family:{{main.rationaleFontFamily}}; color:{{main.rationaleFontColor}}" auto-font-size noSelection >
                                 {{main.Rationale}}
                                </div>
                            </div>
                            <div class="row" style="height:60px;">
                                <div class="col-md-12">
                                    <input type="text" placeholder="New Names" class="roundCorners" ng-model="main.newName" style="font-size: xx-large; text-align: center; width: 100%; height: 49px; border: solid 2px grey; color:black" autofocus/>
                                </div>
                            </div>
                            <div class="row" style="height: 50px;">
                                <div class="col-md-6">
                                    <input type="text" class="center-block; roundCorners" ng-model="main.explore" placeholder="EXPLORE" style="font-size: x-large; text-align: center; width: 500px; height: 39px; border: solid 2px green;color:black" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="center-block; roundCorners" ng-model="main.avoid" placeholder="AVOID" style="font-size: x-large; text-align: center; width: 500px; height: 39px;border: solid 2px red;color:black" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 10px 0 10px 0; background-color:rgba(255,255,255,0.6); color:black">
                        <div class="col-md-5">
                            <div class="col-md-8">
                                <div class="col-md-2">
                                    <p class="text-left"> (c)</p>
                                </div>
                                <div class="col-md-10">
                                    <p class="text-left"> Propietary & Confidential</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <a>
                                    <!-- ngsf-toggle-fullscreen icon="fullscreen" -->
                                    <span ng-click="main.togglePresentation()" style="font-size: xx-large;" class="glyphicon glyphicon-blackboard iconbuttom"></span>
                                    <a/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary center-block" ng-click="main.resetSlide()" style="width:115px">Reset Slide</button>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-4">
                                <button ng-click="main.goPrevSlide()" type="button" class="btn btn-primary" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-md-5">
                                <button ng-click="main.goNextSlide()" type="button" class="btn btn-primary" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary" style="cursor:text; float:right"> <span class="badge">{{main.pageNumber}}</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Templates For help-->
    <div
<div class="container-fluid" id="help" style="display:none">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <img alt="" ng-src="images/HelpImages/F.PNG" width="50px" class="img-rounded center-block gap" />
                </div>
                <div class="col-md-9">
                    <h4>
                            Press F key to go Full-Screen and scape key to exit
                     </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" height="60px">
                    <img alt="" ng-src="images/HelpImages/O.PNG" width="50px" class="img-rounded center-block gap" />
                </div>
                <div class="col-md-9">
                    <h4>
                            Press O key to overview the slides
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img alt="" src="images/HelpImages/Space.PNG" width="70px" class="img-rounded center-block gap" />
                </div>
                <div class="col-md-9">
                    <h4>
                               Press Space Bar key to go forward on the slides
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img alt="" src="images/HelpImages/ArrowKeys.PNG" width="100px" class="img-rounded center-block gap" />
                </div>
                <div class="col-md-9">
                    <h4>
                               Press the Arrow Keys  to go forward on the slides
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
