<style type="text/css">
.backGroundStyle {
  border: solid 5px #93A1A1;
}
label {
    font-size: 22px !important;
    font-weight: 100;
}
.roundCorners {
    border-radius: 5px;
}
.noSelection {
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */
}
.btn-question-style {
    position: fixed;
    top: 35px;
    left: 1075px;
}
.settings {
    float: right;
    top: 12px;
    right: 0px;
    position: fixed;
}
.feedBack {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
}
.tab-style{
    font-family: calibri;
    font-size: 21px;
}

.tab-style span{
    font-family: calibri;
    margin-top: 10px;
}
.margin-progressbar{
    margin-top: 3px;
}
.margin-badge{
    margin-top: -7px;
}
.scrollbar-dynamic {
    max-height: 550px;
    max-width: 100%;
    overflow: auto;
}
.row-summaryslides{
  margin-right: 0px;
  margin-left: 0px;
}
.summary-size-font{
  font-size: {{main.sizeOfFont}};
}
.pointer{
  cursor: pointer;
}
.row-comment-style{
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
}
.textarea-style{
  width: 100%;
  height: 40px;
}
.button-save{
  height:40px;
}
.dropup ul{
    bottom:100% !important;
    top:auto !important;
}
/*this functionality is for the type. meaning an extre color such as warning, info, success*/
.progress-bar-purple{
  background-color: #4c0099;
}

</style>

<!-- Slide Show -->
<div class="row" ng-show="main.isTesNameTime= main.isOverview " style="    position: fixed; top:-195px; left: 160px;">
    <div class="col-md-1">
        <div class="reveal">
            <div class="slides">
             <section class="pull-right">
                <section ng-repeat="slide in  main.slides" style="top: -46px !important; display: block;" data-index="{{$index}}" ng-click="main.selectSlide({{$index}})">
                <button type="button" class="btn btn-default glyphicon glyphicon-question-sign pull-right btn-question-style" ng-show="main.isTesNameTime" ng-click="main.help()"></button>
                    <img ng-src="{{slide.SlideBGFileName}}">
                    <br>
                    <h3 ng-show="main.isOverview" style="color:black" >{{slide.SlideDescription +' '}} {{$index}}
                    </h3>
                </section>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- NW -->
<div class="container-fluid">
    <div class="backGroundStyle">
        <div class="container-fluid" style="background-image: url({{main.BackGround}});
            !important;color:white; background-repeat: no-repeat; background-size: cover;height:800px;">
            <div class="row" style="height: 30px;">
                <div class="col-md-12">
                    <div class="progress" style="height: 5px;" max="max" value="dynamic">
                        <div class="progress-bar" role="progressbar" ng-style="{width: main.progressBarValue + '%'}">
                        </div>
                    </div>
                </div>
            </div>
            <!-- CA- added tabs to the summary Slide, needs to adjust the type of color will be used for the names-->
             <div ng-show="main.displaySummary" class="tab-style">
              <uib-tabset>
                <uib-tab heading="Summary">
                    <div class="row" style="margin-top: 10px;">
                  		<div class="col-md-2">
                        <span class="label label-success" style=" font-weight: initial;">Retained</span>
                  		</div>
                  		<div class="col-md-8 margin-progressbar">
                        <uib-progress><uib-bar ng-repeat="bar in main.stacked track by $index" value="bar.value" type="{{bar.type}}"
                          ng-click="main.displaySummarys($index)"><span>{{bar.value}}%</span></uib-bar></uib-progress>
                  		</div>
                  		<div class="col-md-2 margin-badge">
                        <span class="badge pointer" ng-click="main.getPositivesNames()" style="background-color: #5cb85c;  width: 50%; font-weight: initial; font-size: 14px;">{{main.positiveCount}}</span>
                  		</div>
                  	</div>
                  	<div class="row">
                  		<div class="col-md-2">
                        <span class="label" ng-click="main.getNegativesNames()" style="font-weight: initial; background-color: #4c0099;">Reconsider</span>
                  		</div>
                  		<div class="col-md-8 margin-progressbar">
                        <uib-progressbar type="purple" ng-click="main.getNegativesNames()" style="background-color: #4c0099; height: 25px;" ng-style="{width: main.negativeCount + '%'}"></uib-progressbar>
                  		</div>
                  		<div class="col-md-2 margin-badge">
                        <span class="badge pointer" ng-click="main.getNegativesNames()" style="background-color: #4c0099;  width: 50%; font-weight: initial; font-size: 14px;">{{main.negativeCount}}</span>
                  		</div>
                  	</div>
                  	<div class="row">
                  		<div class="col-md-2">
                        <span class="label label-info" style="font-weight: initial;">New Names</span>
                  		</div>
                  		<div class="col-md-8 margin-progressbar">
                        <uib-progressbar type="info" style="height: 25px" ng-style="{width: main.newNameCount + '%'}"></uib-progressbar>
                  		</div>
                  		<div class="col-md-2 margin-badge">
                        <span class="badge pointer" ng-click="main.getNewsNames()" style="background-color: #5bc0de;  width: 50%; font-weight: initial; font-size: 14px;">{{main.newNameCount}}</span>
                  		</div>
                  	</div>
                    <!-- CA- piece of code to display names-->
                    <div class="scrollbar-dynamic" data-jquery-scrollbar="main.jqueryScrollBarOptions">
                          <div class="text-success col-md-{{main.columnSize}} pointer summary-size-font" ng-show="main.displayPositive"
                          ng-repeat="positivename in main.positiveNames" ng-click="main.selectNameFromSummary(positivename)">{{positivename}}</div>
                          <div class="text-primary col-md-{{main.columnSize}} pointer summary-size-font" ng-show="main.displayNeutral"
                          ng-repeat="neutralname in main.neutralNames" ng-click="main.selectNameFromSummary(neutralname)">{{neutralname}}</div>
                          <div class="text-primary col-md-{{main.columnSize}} pointer summary-size-font" ng-show="main.displayNegative"
                          ng-repeat="negativename in main.negativeNames" ng-click="main.selectNameFromSummary(negativename)">{{negativename}}</div>
                          <div class="text-info col-md-{{main.columnSize}} pointer summary-size-font" ng-show="main.displayNewName"
                          ng-repeat="newname in main.newNames" ng-click="main.selectNameFromSummary(newname)">{{newname}}</div>
                    </div>
                  </uib-tab>
                    <uib-tab heading="Explore" ng-click="main.getrootsToExplores()">
                      <div class="row row-comment-style">
                        <div class="col-md-11">
                          <textarea class="text-primary textarea-style" ng-model="main.dataInput" placeholder="You may write aditional comments">{{main.dataInput}}</textarea>
                        </div>
                        <div class="col-md-1">
                          <button class="btn btn-success pull-right button-save" ng-model="main.dataInput" ng-click="main.saveComments(main.dataInput)">Save</button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="scrollbar-dynamic" data-jquery-scrollbar="main.jqueryScrollBarOptions" ng-show="main.displayRootExplore" style="margin-top: 10px;">
                          <div class="text-info col-md-{{main.columnSize}} summary-size-font" ng-repeat="roottoexplore in main.rootsToExplore">{{roottoexplore}}</div>
                        </div>
                      </div>
                    </uib-tab>
                    <uib-tab heading="Avoid" ng-click="main.getrootsToAvoids()">
                      <div class="row row-comment-style">
                        <div class="col-md-11">
                          <textarea class="text-primary textarea-style" ng-model="main.dataInput" placeholder="You may write aditional comments">{{main.dataInput}}</textarea>
                        </div>
                        <div class="col-md-1">
                          <button class="btn btn-success pull-right button-save" ng-model="main.dataInput" ng-click="main.saveComments(main.dataInput)">Save</button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="scrollbar-dynamic" data-jquery-scrollbar="main.jqueryScrollBarOptions" ng-show="main.displayRootAvoid" style="margin-top: 10px;">
                            <div class="col-md-{{main.columnSize}} text-info summary-size-font" ng-repeat="rootstoavoid in main.rootsToAvoid">{{rootstoavoid}}</div>
                        </div>
                      </div>
                    </uib-tab>
                    <!-- display of names ends here -->
              </uib-tabset>
            </div>
            <!-- Summary Slide End -->
                 <div class="row" style="height: 175px;">
                        <div class="col-md-2" style="font-family:{{main.headerFontFamily}}; color:{{main.headerFontColor}}" ng-show="!main.displayNameGroup">
                            <form name="nameRamking" ng-click="main.blurEffect($event)">
                                <label>
                                    <input class="feedBack" type="radio" name="nameRamking" value="Positive" ng-model="main.nameRamking"> Positive
                                </label>
                                <br/>
                                <label>
                                    <input class="feedBack" type="radio" name="nameRamking" value="Neutral" ng-model="main.nameRamking"> Neutral
                                </label>
                                <br/>
                                <label>
                                    <input class="feedBack" type="radio" name="nameRamking" value="Negative" ng-model="main.nameRamking"> Negative
                                </label>
                            </form>
                        </div>
                        <div class="col-md-8 text-center" auto-font-size id="category" style="font-family:{{main.headerFontFamily}}; color:{{main.headerFontColor}}">
                            {{main.nameCategory}}
                        </div>
                        <div class="col-md-2" style="font-family:{{main.headerFontFamily}}; color:{{main.headerFontColor}}"  ng-show="!main.displayNameGroup">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default glyphicon " ng-click="main.tally()" style="font-family:arial">Tally
                                </button>
                                <button type="button" class="btn btn-default glyphicon glyphicon-cog" data-toggle="dropdown" ng-click="main.showThemeOptions()"></button>
                            </div>
                            <div class="row" ng-show="main.displayTally">
                                <div class="col-md-8">
                                    <label>Positive
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <span style="font-size:22px;">{{main.positiveScore}}</span>
                                </div>
                            </div>
                            <div class="row" ng-show="main.displayTally">
                                <div class="col-md-8">
                                    <label>Neutral
                                    </label>
                                </div>
                                <div style="font-size:22px;" class="col-md-4"> <span class="">{{main.neutralScore}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height: 270px;">
                        <div class="col-md-{{main.columnSet}} col-md-offset-{{main.columnOffSet}}">
                            <div class="col-md-1 ">
                                <img ng-show="main.BackGround == 'images/BackGrounds/Billboard.jpg' || main.BackGround == 'images/BackGrounds/SubwayStop.jpg'" width='150' style="margin-top: 10px; margin-left: -{{main.marginLeftImage}}px;" ng-src="{{main.logoPath}}" />
                            </div>
                            <div class="col-md-12 text-{{main.textAttribute}} "
                                  style="background-image:{{main.overlayStyle}};
                                  font-family:{{main.testNameFontFamily}};
                                  {{main.isStrokeIt === true ? 'text-shadow': '' }}:   -{{main.strokeRange}}px  -{{main.strokeRange}}px  0 {{main.strokeColor}},
                                                        {{main.strokeRange}}px   -{{main.strokeRange}}px  0 {{main.strokeColor}},
                                                        -{{main.strokeRange}}px  {{main.strokeRange}}px  0 {{main.strokeColor}},
                                                         {{main.strokeRange}}px  {{main.strokeRange}}px   0 {{main.strokeColor}};
                                  margin-left: -{{main.marginLeftTestName}}px;
                                  color:{{main.testNameFontColor}};
                                  border-radius: 5px; width:{{main.testNameWidth}}%;" id="testName" auto-font-size noSelection>
                                {{main.nameCandidate}}
                            </div>
                        </div>
                    </div>
                    <div class="row bg-primary context-center" style="height:100px; border-radius: 5px; margin:0px;" ng-show="!main.displayNameGroup">
                        <div class="col-md-12 text-default text-center" id="rationale" style="font-family:{{main.rationaleFontFamily}}; color:{{main.rationaleFontColor}};padding-top: 18px;" auto-font-size noSelection>
                            {{main.Rationale}}
                        </div>
                        <p class="text-center" style="font-size:25px;">{{main.subRationale}}</p>
                    </div>
                    <!-- CA- This ng-show will work for both regular NW and JP NW -->
                    <div ng-show="!main.displayNameGroup">
                        <div class="row" style="height: 110px; padding:20px 0 0 0;">
                            <div class="col-md-{{main.makeShorterNewNameInput}}">
                                <input type="text" placeholder="New Names" class="roundCorners" ng-model="main.newName" style="font-size: xx-large; text-align: center; width: 100%; height: 49px; border: solid 2px grey; color:black" />
                            </div>
                            <div class="col-md-6" ng-show="main.isJapanese === true">
                                <input type="text" class="center-block; roundCorners" ng-model="main.negativeKanaNames" placeholder="Negative Katakana Names" style="font-size: xx-large; text-align: center; width: 100%; height: 49px; border: solid 2px grey; color:black" />
                            </div>
                        </div>
                        <div class="row" style="height: 50px;">
                            <div class="col-md-6">
                                <input type="text" class="center-block; roundCorners" ng-model="main.explore" placeholder="EXPLORE" style="font-size: x-large; text-align: center; width: 500px; height: 39px; border: solid 2px green;color:black" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="center-block; roundCorners" ng-model="main.avoid" placeholder="AVOID" style="font-size: x-large; text-align: center; width: 500px; height: 39px;border: solid 2px red;color:black" />
                            </div>
                        </div>
                    </div>

            <div class="row" ng-show="!main.displayNameGroup">
                <div class="col-md-12" style="position: relative; bottom: {{main.controlsPosition}}px;">
                    <div class="col-md-4">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <span aria-hidden="true"></span>Propietary & Confidential</button>
                            <button type="button" class="btn btn-default" aria-label="Center Align" ng-show="main.nameNotation.length > 0">
                                <span aria-hidden="true"></span>{{main.nameNotation}}</button>
                        </div>
                    </div>
                 <div class="col-md-4 text-center" ng-show="main.displayMenu">
                            <div class="input-group">
                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="button" ng-click="main.resetSlide()">
                                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                  </button>
                                </span>
                                <div class="dropup">
                                <input type="text" ng-model="main.selectedName" typeahead="name for name in main.testName | filter:$viewValue | limitTo:8" typeahead-on-select="main.onSelect($item, $model, $label)" class="form-control text-primary" placeholder="Search name">
                              </div>
                                <span class="input-group-btn">
                                 <button class="btn btn-default" type="button" ng-click="main.changeToDefault()">
                                   <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>
                                 </button>
                                </span>
                            </div>
                    </div>
                    <div class="col-md-4" ng-show="main.displayMenu">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="main.goPrevSlide()">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
                    </span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="main.goNextSlide()">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
                    </span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <span>{{main.pageNumber}} / {{main.totalOfTestNames}}
                    </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End if NW -->
<!-- Side menu Settings-->
<div class="container-fluid settings slide" ng-show="main.displaySettings">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text ">Header & Background Settings</h4>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <select class="btn btn-primary" ng-model="main.BackGroundName" ng-change="main.backGroundChanged()"  ng-options="BackGround for BackGround in main.changeBackground">
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <select class="btn btn-primary" ng-model="main.headerFontFamily" id="bgselection" ng-options="header for header in main.typeOfFont"></select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <input type="color" class="bg-primary" ng-model="main.headerFontColor" />
        </div>
    </div>
    <hr>
    <div class="row ">
        <div class="col-md-12">
            <h4 class="text">Test-Name Settings</h4>
        </div>
    </div>
    <div class="row form-group ">
        <div class="col-md-6">
            <select class="btn btn-primary" ng-model="main.testNameFontFamily" id="bgselection" ng-options="font for font in main.typeOfFont"></select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <input type="color" class="bg-primary" ng-model="main.testNameFontColor" />
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-md-12">
            <h4 class="text ">Stroke Settings</h4>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <input type="color" class="bg-primary" ng-model="main.strokeColor">
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <input type="range" min="0" max="5"class="bg-primary" ng-model="main.strokeRange">
            </select>
        </div>
    </div>
    <div class="row form-group">
          <div class="col-md-6 ">
            <p class="text ">
                <input type="checkbox" style="margin-right: 5px;" ng-model="main.isStrokeIt" ng value="main.isStrokeIt"/>Stroke</p>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-md-12">
            <h4 class="text ">Rationale Settings</h4>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <select class="btn btn-primary" ng-model="main.rationaleFontFamily" id="bgselection" ng-change="main.rationaleFontTypeChanged(main.rationaleFontFamily)" ng-options="rationale for rationale in main.typeOfFont"></select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <input type="color" class="bg-primary" ng-model="main.rationaleFontColor" ng-change="main.rationaleFontColorChanged(main.rationaleFontColor)">
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 ">
            <p class="text ">
                <input type="checkbox" style="margin-right: 5px;" ng-model="main.isOverlayAvailable" ng-change="main.setOverlay()" value="main.isOverlayAvailable"/>Overlay</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 ">
            <button class="btn btn-success pull-left" ng-click="main.resetingProjects()">Reset All</button>
        </div>
        <div class="col-md-6 ">
            <button class="btn btn-success pull-right" ng-click="main.saveThemeSettings()">Save</button>
        </div>
    </div>
    <hr>
</div>
<!--Templates For help-->
<div class="container-fluid" id="help" style="display:none">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <img alt="" ng-src="images/HelpImages/F.PNG" width="50px" class="img-rounded center-block" />
                </div>
                <div class="col-md-9">
                    <h4>
                            Press F key to go Full-Screen and scape key to exit
                     </h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3" height="60px">
                    <img alt="" ng-src="images/HelpImages/O.PNG" width="50px" class="img-rounded center-block" />
                </div>
                <div class="col-md-9">
                    <h4>
                            Press O key to overview the slides
                    </h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <img alt="" src="images/HelpImages/Space.PNG" width="70px" class="img-rounded center-block" />
                </div>
                <div class="col-md-9">
                    <h4>
                               Press Space Bar key to go forward on the slides
                    </h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <img alt="" src="images/HelpImages/ArrowKeys.PNG" width="100px" class="img-rounded center-block" />
                </div>
                <div class="col-md-9">
                    <h4>
                               Press the Arrow Keys  to go forward on the slides
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
