<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="reveal fixed-bottom">
                <div class="slides">
                    <section ng-repeat="slide in  slideShow.slides" data-index="{{$index}}">
                        <img ng-src="{{slide}}"><span class=" "></span>{{$index}}
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- Navigation Controls -->
    <footer>
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container" style="font-size:25px; color:#333; text-align:center;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6">
                                    <!-- HOME -->
                                        <span class="glyphicon glyphicon-home iconbuttom" ng-click="NavCtrl.goHome()"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4"  ng-click="NavCtrl.goLeft()">
                                        <span class="glyphicon glyphicon-arrow-left iconbuttom" ></span>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-default" ng-click="NavCtrl.getPagesInfo()" type="button">
                                            <span style="font-size: 15px;cursor:default;" ng-init="NavCtrl.getPagesInfo()"  class="badge bg-info">{{currentSlideNumber }}/{{slideShow.totalSlides}}</span>
                                        </button>
                                    </div>
                                    <div class="col-md-4"  ng-click="NavCtrl.goRigth()">
                                        <span class="glyphicon glyphicon-arrow-right iconbuttom"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6" ng-click="NavCtrl.goToPresentation()">
                                        <span class="glyphicon glyphicon-blackboard iconbuttom"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-4">
                                             <span class="glyphicon glyphicon-minus iconbuttom"></span>
                                            </div>
                                            <div class="col-md-4"> 
                                            <span class="glyphicon glyphicon-plus iconbuttom"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
